// COLUOR
$-holder-norm: #eee;
$-holder-hover: darken($-holder-norm, 25);
$-holder-active: lighten($-holder-hover, 10);
$-holder-o: #933;
$-holder-x: #369;
$-holder-draw: #9ca;
$-holder-o-win: lighten($-holder-o, 25);
$-holder-x-win: lighten($-holder-x, 25);
$-holder-hover-o: lighten($-holder-o, 25);
$-holder-hover-x: lighten($-holder-x, 25);
$-dark: #333;
$-semi-dark: #444;
$-light: #efefef;
$-semi-light: #ddd;

// size:
$-frame-size: 300px;

// RESET's
* {
	padding: 0;
	margin: 0;
	z-index: 9;
	box-sizing: border-box;
	transition: 0.25s ease all;
}

html,
body {
	font-size: 16px;
	font-family: 'ubuntu light', 'monospace', 'arial';
	font-weight: 500;
	background-color: $-semi-light;
	color: $-dark;
	user-select: none;
}

input,
button,
textarea,
* {
	border: none;
	outline: none;
	box-shadow: none;
}

// STYLESHEET's

body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;

	height: 100vh;
	overflow: hidden;

	&.draw {
		background-color: $-holder-draw;
	}
	&.x-won {
		background-color: $-holder-x-win;
	}
	&.o-won {
		background-color: $-holder-o-win;
	}
}

.frame {
	position: relative;

	& {
		margin: auto;
		// margin-top: 50px;
		// border: 3px solid rgba($-semi-dark, .4);
		overflow: hidden;
	}

	&,
	> .frame-items {
		width: $-frame-size;
		height: $-frame-size;
		border-radius: 1rem;
		// background-color: $-semi-light;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		align-content: space-around;
		justify-content: space-around;
	}

	> .frame-items {
		> .placeholder {
			width: ($-frame-size - 40) / 3;
			height: ($-frame-size - 40) / 3;
			border-radius: 0.5rem;
			// background-color: $-holder-norm;
			color: $-light;

			text-align: center;
			cursor: default;

			> h1 {
				padding: 0;
				margin: 0;
				margin-top: -1.5rem;
				font-size: 6.5rem;
			}

			&[data-player='null']:hover {
				background-color: $-holder-hover;
				cursor: pointer;
				&.hover-o {
					background-color: $-holder-hover-o;
				}
				&.hover-x {
					background-color: $-holder-hover-x;
				}
				&:active,
				&:focus {
					background-color: $-holder-active;
					transform: scale(0.9);
				}
			}
			&:focus {
				background-color: $-holder-active;
				transform: scale(0.9);
			}
			&[data-player='x'] {
				color: $-holder-x;
				&:focus {
					// background-color: $-holder-hover-x;
					background-color: transparent;
					transform: scale(1);
				}
			}
			&[data-player='o'] {
				color: $-holder-o;
				&:focus {
					// background-color: $-holder-hover-o;
					background-color: transparent;
					transform: scale(1);
				}
			}
		}

		> .won {
			&[data-player='x'] {
				background-color: $-holder-x-win;
				// transform: rotate(45deg);
			}
			&[data-player='o'] {
				background-color: $-holder-o-win;
				// transform: rotate(45deg);
			}
		}
	}

	> .frame-lines {
		> .frame-line {
			display: inline-block;
			position: absolute;
			background-color: $-dark;
			border-radius: 0.5rem;

			&.col {
				top: 0;
				width: 10px;
				height: $-frame-size;
				&#col-left {
					left: ($-frame-size - 15) / 3;
				}
				&#col-right {
					left: (($-frame-size * 2) - 15) / 3;
				}
			}
			&.row {
				left: 0;
				width: $-frame-size;
				height: 10px;
				&#row-top {
					top: ($-frame-size - 15) / 3;
				}
				&#row-bottom {
					top: (($-frame-size * 2) - 15) / 3;
				}
			}
		}
	}
}

.modal {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;

	& {
		position: fixed;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
	}

	& {
		animation: scale-fade-in 0.2s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
			both alternate;
		@keyframes scale-fade-in {
			from,
			0% {
				transform: scale(0);
			}
			to,
			100% {
				transform: scale(1);
			}
		}
	}
	&.scale-fade-out {
		animation: scale-fade-out 0.25s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94)
			both alternate;
		@keyframes scale-fade-out {
			from,
			0% {
				transform: scale(1);
			}
			to,
			100% {
				transform: scale(0);
			}
		}
	}

	border-radius: 1rem;
	background-color: $-light;

	> span {
		display: block;
		font-size: 2rem;
		padding: 2rem;
		text-decoration: underline 3px;
		&.player {
			padding: 3rem;
			font-size: 6rem;
			margin-bottom: 1rem;
			text-decoration: none;
			text-transform: capitalize;
			color: darken($-holder-draw, 5);
			&.x {
				color: $-holder-x;
				text-shadow: 0.1rem 0.1rem 0.9rem $-holder-x;
			}
			&.o {
				color: $-holder-o;
				text-shadow: 0.1rem 0.1rem 0.9rem $-holder-o;
			}
		}
	}
}

.context-menu {
	position: fixed;
	width: 100px;
	height: 100px;
	// top: -50%;
	// left: -50%;
	display: inline-block;
	display: none;
}
