<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, init-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="./../styles/style.css" />
		<script src="./../logics/renderer.js"></script>
		<script
			type="text/javascript"
			src="./../logics/sound.js"
			charset="utf-8"
			async
			defer
		></script>
		<script
			src="./../logics/script.js"
			type="text/javascript"
			charset="utf-8"
			async
			defer
		></script>
	</head>
	<body>
		<div class="pade">
			<div class="holders">
				<div class="row" id="row-1">
					<div
						class="cell col"
						id="cel-1"
						data-row="1"
						data-col="1"
						tabindex="1"
						data-played
					></div>
					<div
						class="cell col"
						id="cel-2"
						data-row="1"
						data-col="2"
						tabindex="1"
						data-played
					></div>
					<div
						class="cell col"
						id="cel-3"
						data-row="1"
						data-col="3"
						tabindex="1"
						data-played
					></div>
				</div>
				<!-- <div class="gap-line" id="gap-1"></div> -->
				<div class="row" id="row-2">
					<div
						class="cell col"
						id="cel-4"
						data-row="2"
						data-col="1"
						tabindex="1"
						data-played
					></div>
					<div
						class="cell col"
						id="cel-5"
						data-row="2"
						data-col="2"
						tabindex="1"
						data-played
					></div>
					<div
						class="cell col"
						id="cel-6"
						data-row="2"
						data-col="3"
						tabindex="1"
						data-played
					></div>
				</div>
				<!-- <div class="gap-line" id="gap-2"></div> -->
				<div class="row" id="row-3">
					<div
						class="cell col"
						id="cel-7"
						data-row="3"
						data-col="1"
						tabindex="1"
						data-played
					></div>
					<div
						class="cell col"
						id="cel-8"
						data-row="3"
						data-col="2"
						tabindex="1"
						data-played
					></div>
					<div
						class="cell col"
						id="cel-9"
						data-row="3"
						data-col="3"
						tabindex="1"
						data-played
					></div>
				</div>
			</div>
		</div>
	</body>
</html>
